$gray-200: #e6e6e6;
$gray-300: #ccc;
$gray-400: #aaaaaa;
$gray-500: #666666;
$blue: #00c0e8;
$green: #42bf00;

$purple: #c850c0;
$red: #ff0033;
$gray-100: #e3e3e3;
$yellow: #ffda00;
$orange: #ff714b;
$black: #000000;
$white: #ffffff;

$gray-gradient: linear-gradient(to right, #bdc3c7, #2c3e50);
$purple-gradient: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
$orange-gradient: linear-gradient(to right, #f7971e, #ffd200);
