@import "../../styles/index.scss";

.wrapper {
  background: $orange-gradient;

  position: absolute;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 16px auto;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
